<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  

  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8009/GeoService" 
                binding="netTcpBinding"
                contract="GeoLib.Contracts.IGeoService"
                name="tcpEP" />
      <endpoint address="http://localhost:8081/GeoService" 
                binding="basicHttpBinding"
                contract="GeoLib.Contracts.IGeoService" 
                name="httpEP" />
      <endpoint address="http://localhost:52392/GeoService.svc" 
                binding="wsHttpBinding"
                contract="GeoLib.Contracts.IGeoService" 
                name="webEP" />
      <endpoint address="net.tcp://localhost:8009/StatefulGeoService" 
                binding="netTcpBinding" 
                contract="GeoLib.Contracts.IStatefulGeoService" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding 
                 receiveTimeout="00:20:05" 
                 sendTimeout="00:03:45"
                 maxReceivedMessageSize="2000000">
          <reliableSession inactivityTimeout="00:10:05" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>


</configuration>