<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="main" connectionString="Data Source=SKHANDORIN-BOOK\main;Initial Catalog=ZipCodeData;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


  <system.serviceModel>
    <services>
      <service name="GeoLib.Services.GeoManager" >
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082" />
            <add baseAddress="net.tcp://localhost:8009"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:8009/GeoService" 
                  binding="netTcpBinding"    
                  contract="GeoLib.Contracts.IGeoService"
                  bindingConfiguration="sergey" />
        <!--
        <endpoint address="http://localhost:8081/GeoService"    
                  binding="basicHttpBinding" 
                  contract="GeoLib.Contracts.IGeoService" />
        -->
        <endpoint address="MEX"                                 
                  binding="mexTcpBinding"    
                  contract="IMetadataExchange" />
      </service>
      <service name="GeoLib.Services.StatefulGeoManager">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8082/StatefulGeoService" />
            <add baseAddress="net.tcp://localhot:8009"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:8009/StatefulGeoService" 
                  binding="netTcpBinding" 
                  contract="GeoLib.Contracts.IStatefulGeoService" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
          <binding name="sergey" 
                   receiveTimeout="00:20:05"
                   sendTimeout="00:20:45" 
                   maxReceivedMessageSize="2000000" 
                   transactionFlow="true">
            <reliableSession inactivityTimeout="00:10:05"/>
          </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  
</configuration>